$padding: 10px;
$font-family-stack: 'Inconsolata', monospace;


/* Colors */
$back-color: #444;
$darker-back-color: #222;
$main-txt-color: #b9b9b9;
$brand-color: #ff0072;

$notice-txt-color: $main-txt-color;
$whisper-txt-color: $brand-color;
$whisper-who-color: $brand-color;
$room-txt-color: #eee;
$room-room-txt-color: #ff6600;
$room-who-txt-color: $brand-color;


* {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: $back-color;
	color: $main-txt-color;
	font-family: $font-family-stack;
}

/* ungrid.css */
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

html {
	height: 100vh;
}

body {
	height: 100vh;
}

div.container {
	width: 100%;
	height: 100vh;
}

/* 
 * Colors chat pane
 *
 */
#msg-panel {
	padding: $padding;

	.chat-item {
		color: $main-txt-color;

		.notice {
			.notice-text {
				color: $notice-txt-color;
			}
		}

		.room-talk {
			.msg {
				white-space: pre;
			}

			.room {
				color: $room-room-txt-color;
			}
			.who {
				color: $room-who-txt-color;
			}
			.msg {
				color: $room-txt-color;
			}
		}

		.whisper-in, .whisper-out {
			.msg {
				color: $whisper-txt-color;
			}
			
			.who {
				color: $whisper-who-color;
			}
		}
	}
}

#msg-panel {
	border-left: 1px solid $darker-back-color;
}	

#people-panel {
	padding: $padding;
}

#cmdline {

	border-top: 1px solid $darker-back-color;
	padding: $padding;
}

/* layout */
/* layout */
/* layout */
/* layout */
/* layout */
/* layout */
/* layout */

$top-h: 80vh;
$left-w-perc: 20%;

@mixin fixabsolute {
	box-sizing: border-box;
	position: fixed;
	overflow-y: scroll;
}

@mixin layout-left-top {
	left: 0;
	top: 0;
	width: $left-w-perc;
	height: $top-h;
}

@mixin layout-right-top {
	left: $left-w-perc;
	top: 0;
	width: 100% - $left-w-perc;
	height: $top-h;
}

@mixin layout-all-bottom {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100vh - $top-h;
}


#top-panel {
	width: 100%;
	height: $top-h;

	#people-panel {
		@include fixabsolute;
		@include layout-left-top;
	}

	#msg-panel {
		@include fixabsolute;
		@include layout-right-top;
	}
}

#cmdline {
	@include fixabsolute;
	@include layout-all-bottom;
}




