<div class="container">
  <ul id="chatpane">
  	<li class='command'>---<[ Welcome to undercover ]>---</li>
  	<li class='msg'><span class='from'>morgante</span>: uè che figata sta chat</li>
  	<li class='msg'><span class='from'>jennifer</span>: si è davvero figha</li>
  	<li class='command'><span class='cmd-name'>users in room</span>: jennifer, morgante</li>
  	<li class='msg'><span class='from'>morgante</span>: uè che figata sta chat</li>
  	<li class='msg'><span class='from'>jennifer</span>: si è davvero figha</li>
  	<li class='command'><span class='cmd-name'>users in room</span>: jennifer, morgante</li>
  </ul>

  <textarea [(ngModel)]=cmdText id="cmdline" placeholder='{{ cmdHint }}'></textarea>
</div>
